<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <!-- css link -->
  {{!-- first css link is for testing purposes will delete when linked correctly --}}
  <link rel="stylesheet" href="../public/styles/styles.css" type="text/style" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../public/styles/styles.css" type="text/style" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../public/styles/styles.css" type="text/style" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../public/styles/styles.css" type="text/style" media="screen" title="no title" charset="utf-8">
  <!-- font awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />    
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Nanum+Gothic&display=swap" rel="stylesheet" />
</head>

<body>
  {{{body}}}
</body>

</html>
