<div class="container-fluid" id="bcgAdmin">
    <!-- jumbotron image display -->
    <div class="container-fluid">
        <!-- nav starts -->
        <nav class="navbar" id="navbarAdmin">
            <a href="/">HOME</a>
            <a href="/jobs">JOB PORTAL</a>
            <a href="/status">STATUS PORTAL</a>
            <a href="/admin">ADMIN PORTAL</a>
        </nav>
    </div>
    <!-- end of nav -->
</div>