<div class="container">
  <!-- jumbotron image display -->
    <div class="container-fluid" id="imageDisplay">
        <!-- nav starts -->
        <nav class="navbar">
            <a href="#">HOME</a>
            <a href="#">JOB PORTAL</a>
            <a href="#">STATUS PORTAL</a>
            <a href="#">ADMIN PORTAL</a>
        </nav>
    </div>
    <!-- end of nav -->

    <div class="container-fluid text-center style jobTitle">
        <div class="row" id="position">
            <div class="col-md-6">
                <h1>Applicant Name</h1>
            </div>

            <div class="col-md-3">
                <h1>Position</h1>
            </div>
            <div class="col-md-3">
                <h1>Action</h1>
            </div>
        </div>
    </div>


    <!-- start of job description,action container -->
    <div class="container-fluid style2">
        <div class="row" id="position">
            <div class="col-md-6 top">
                <h3 class="statusDesc">Niko Jovanovic</h3>
            </div>
            <div class="col-md-3 status">
                <h3 class="statusDesc">Junior Developer</h3>
            </div>
            <div class="col-md-3 icons">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="View job"><i class="fa fa-eye fa-2x"></i></button></i>
                </i><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Save job"><i class="fa fa-save fa-2x"></button></i>

                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete job"><i class="fa fa-trash fa-2x"></i></button></i>
            </div>
        </div>
        <!-- second job -->
        <div class="row" id="position">
            <div class="col-md-6 top">
                <h3 class="statusDesc">Siavash Ashkiani</h3>
            </div>
            <div class="col-md-3 status">
                <h3 class="statusDesc">Senior Developer</h3>
            </div>
            <div class="col-md-3 icons">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="View job"><i class="fa fa-eye fa-2x"></i></button></i>
                </i><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Save job"><i class="fa fa-save fa-2x"></button></i>

                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete job"><i class="fa fa-trash fa-2x"></i></button></i>
            </div>
        </div>
        <!-- end of second job -->
        <!-- third job -->
        <div class="row" id="position">
            <div class="col-md-6 top">
                <h3 class="statusDesc">Gene Edwards</h3>
            </div>
            <div class="col-md-3 status">
                <h3 class="statusDesc">Senior Developer</h3>
            </div>
            <div class="col-md-3 icons">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="View job"><i class="fa fa-eye fa-2x"></i></button></i>
                </i><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Save job"><i class="fa fa-save fa-2x"></button></i>

                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete job"><i class="fa fa-trash fa-2x"></i></button></i>
            </div>
        </div>
        <!-- end of third job -->
        <!-- fourth job -->
        <div class="row" id="position">
            <div class="col-md-6 top">
                <h3 class="statusDesc">Lusio Filiba</h3>
            </div>
            <div class="col-md-3 status">
                <h3 class="statusDesc">Full Stack Developer</h3>
            </div>
            <div class="col-md-3 icons">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="View job"><i class="fa fa-eye fa-2x"></i></button></i>
                </i><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Save job"><i class="fa fa-save fa-2x"></button></i>

                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete job"><i class="fa fa-trash fa-2x"></i></button></i>
            </div>
        </div>
        <!-- end of the fourth job -->
        <!-- fifth job -->
        <div class="row" id="position">
            <div class="col-md-6 top">
                <h3 class="statusDesc">Marvin Castro</h3>
            </div>
            <div class="col-md-3 status">
                <h3 class="statusDesc"> Senior Full Stack Developer</h3>
            </div>
            <div class="col-md-3 icons">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="View job"><i
                        class="fa fa-eye fa-2x"></i></button></i>
                </i><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Save job"><i class="fa fa-save fa-2x"></button></i>

                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete job"><i
                        class="fa fa-trash fa-2x"></i></button></i>
            </div>
        </div>
        <!-- end of the fifth job -->
    </div>
</div>