<div class="container-fluid" id="bcgAdmin">
    <!-- jumbotron image display -->
    <div class="container-fluid">
        <!-- nav starts -->
        <nav class="navbar" id="navbarAdmin">
            <a href="/">HOME</a>
            <a href="/jobs">JOB PORTAL</a>
            <a href="/status">STATUS PORTAL</a>
            <a href="/admin">ADMIN PORTAL</a>
        </nav>
    </div>
    <!-- end of nav -->

    <h1 class="display-4" id="admin-title">
        Welcome, User !
    </h1>


    <!-- admin card container -->
    <div class="container-fluid" id="admin-container">
        <!-- first row -->
        {{!-- <div class="row"> --}}
            {{!-- <div class="col-sm" id="admin-col"> --}}
                {{!-- <div class="card" id="admin-card"> --}}
                    {{!-- <div class="card-header" id="adminJob-title">
                        Job Title
                    </div> --}}
                    {{!-- <div class="card-body"> --}}
                        {{!-- <h5 class="card-title" id="admin-skill">Skill</h5> --}}
                        {{!-- <p class="card-text" id="admin-jobDescription">Job Description</p> --}}

                    {{!-- </div> --}}

                    <!-- end of admin notes -->
                    {{!-- <div class="card-footer text-muted"> --}}
                        <!-- btn schedule -->
                        {{!-- <button type="button" class="btn btn-secondary" id="scheduleBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Schedule">
                            Schedule
                        </button> --}}
                        <!-- btn not qualified -->
                        {{!-- <button type="button" class="btn btn-secondary" id="qualifiedBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Not Qualified">
                            Not qualified
                        </button> --}}
                        <!-- btn  Interviewed -->
                        {{!-- <button type="button" class="btn btn-secondary" id="InterviewedBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Interviewed">
                            Interviewed
                        </button> --}}
                        <!-- Offer job btn -->
                        {{!-- <button type="button" class="btn btn-secondary" id="offerBtn" data-toggle="tooltip"
                            data-placement="bottom" title="ffer the JobO">
                            Offer the Job
                        </button> --}}
                    </div>
                </div>
            </div>

            <div class="col-sm" id="admin-col">
                <div class="form-group" id="admin-txt">
                    <textarea class="form-control" placeholder="Save Your Notes" id="exampleFormControlTextarea1"
                        rows="8"></textarea>
                </div>
            </div>
        </div>
        <!-- end of first row -->

        <!-- second row -->
    
        <div class="row">
            <div class="col-sm" id="admin-col">
                <div class="card" id="admin-card">
                    <div class="card-header" id="adminJob-title">
                        TEST Job Title
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" id="admin-skill">Skill</h5>
                        <p class="card-text" id="admin-jobDescription">Job Description</p>
                    </div>

                    <div class="card-footer text-muted">
                        <!-- btn schedule -->
                        <button type="button" class="btn btn-secondary" id="scheduleBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Schedule">
                            Schedule
                        </button>
                        <!-- btn not qualified -->
                        <button type="button" class="btn btn-secondary" id="qualifiedBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Not Qualified">
                            Not qualified
                        </button>
                        <!-- btn  Interviewed -->
                        <button type="button" class="btn btn-secondary" id="InterviewedBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Interviewed">
                            Interviewed
                        </button>
                        <!-- Offer job btn -->
                        <button type="button" class="btn btn-secondary" id="offerBtn" data-toggle="tooltip"
                            data-placement="bottom" title="Offer the Job">
                            Offer the Job
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm" id="admin-col">
                <div class="form-group" id="admin-txt">

                    <textarea class="form-control" placeholder="Save Your Notes" id="exampleFormControlTextarea1"
                        rows="8"></textarea>
                </div>
            </div>
        </div>
        <!-- end of second row -->
    </div>
</div>
<!-- end of admin card -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- javascript --}}
<script src="/js/admin.js" type="text/javascript"></script>