<!-- jumbotron image display -->
<div class="container-fluid" id="bcgStatus">
    <!-- nav starts -->
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/jobs">JOB PORTAL</a>
        <a href="/status">STATUS PORTAL</a>
        <a href="/admin">ADMIN PORTAL</a>
    </nav>
    <!-- nav ends -->
    <!-- text for title -->
    <div class="container-fluid" id="text-status">
        <h1 class="display-4">
            Welcome to your application status page
        </h1>
    </div>
    <br>
    <br>
    <a href="#adjust">
        <button class=" btn blink_me"><i class="fas fa-arrow-down fa-2x"></i></button>
    </a>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <!-- end text title -->
</div>
<!-- end of bcg video -->

<!-- first row -->
<div class="row mainDiv" id="adjust">
    {{!-- <div class="col-sm">
        <div class="card" id="appl-card">
            <div class="card-body">
                <h5 class="card-title" id="jobOutput">Job Title</h5>
                <hr id="hr">
                <h6 id="location-output">Location</h6>
                <hr id="hr">
                <p class="card-text" id="desc-output">With supporting text below as a natural lead-in to
                    additional content.</p>
                <!-- remove button -->
                <button type="button" id="remove-application" class="btn btn-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Remove">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div> --}}

</div>
<!-- end of first row -->

<!-- second row -->
<div class="row" id="adjust">
    <div class="col-sm">
        <div class="card" id="appl-card">
            <div class="card-body">
                <h5 class="card-title" id="jobOutput">TEST Job title</h5>
                <hr id="hr">
                <h6 id="location-output"> Test Location</h6>
                <hr id="hr">
                <p class="card-text" id="desc-output"> TEST With supporting text below as a natural lead-in to
                    additional content.</p>
                <!-- remove button -->
                <button type="button" id="remove-application" class="btn btn-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Remove">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" id="appl-card">
            <div class="card-body">
                <h5 class="card-title" id="jobOutput">Job title</h5>
                <hr id="hr">
                <h6 id="location-output">Location</h6>
                <hr id="hr">
                <p class="card-text" id="desc-output">With supporting text below as a natural lead-in to
                    additional content.</p>
                <!-- remove button -->
                <button type="button" id="remove-application" class="btn btn-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Remove">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- end of second row -->

</div>

{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- javascript --}}
<script src="/js/status.js" type="text/javascript"></script>