<!-- jumbotron image display -->
<div class="container-fluid" id="bcgStatus">
    <!-- nav starts -->
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/jobs">JOB PORTAL</a>
        <a href="/status">STATUS PORTAL</a>
        <a href="/admin">ADMIN PORTAL</a>
    </nav>
    <!-- nav ends -->
    <!-- text for title -->
    <div class="container-fluid" id="text-status">
        <h1 class="display-4">
            Welcome to your application status page
        </h1>
    </div>
    <br>
    <br>
    <a href="#adjust">
        <button class=" btn blink_me"><i class="fas fa-arrow-down fa-2x"></i></button>
    </a>
    <br>
    <br>
    <br>

 
    <!-- end text title -->
</div>
<!-- end of bcg video -->
<div class="row" id="adjust">
    {{#each array}}
  <div class="col-sm">
        <div class="card" id="appl-card">
            <h5 class="card-title text-center" id="jobOutput">{{this.jobTitle}}</h5>
            <div class="card-body">
                <h6 id="location-output" class="text-center">Status: {{this.status}}</h6>
                <h6 id="location-output" class="text-center">Date Applied: {{this.date}}</h6>
                <hr style="border-color:white">
                Why am I the best candidate?: <textarea class="form-control">{{this.note}}</textarea>
                <!-- remove button -->
                <button type="button" id="remove-application" class="btn btn-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Remove">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div>
 

{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- javascript --}}
<script src="/js/status.js" type="text/javascript"></script>