* {
    box-sizing: border-box;
}

#bckgAdmin {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


/* NAV BAR STARTS */

#navbarAdmin {
    margin-top: 55px;
    width: 100%;
    overflow: auto;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
}

#navbarAdmin a {
    color: #fff;
    border-radius: 8px;
    background-color: background: #CE5937;
    background: -moz-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: -webkit-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: linear-gradient(135deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    transition: transform .2s;
}


/* Add a background color on mouse-over */

.navbar a:hover {
    transform: scale(1.1)
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        /* If you want the text to be left-aligned on small screens */
    }
}


/* END OF NAVBAR */


/* job container */

.row {
    margin: 5px;
}

.col-md-6 {
    padding: 15px;
}

.top {
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: #fff;
    text-align: left;
    font-family: 'Spartan';
}

.col-md-3 {
    text-align: center;
    padding-top: 17px;
}

.style {
    max-width: 90%;
    padding: 20px;
    margin-top: 100px;
}

.style2 {
    max-width: 90%;
    padding: 20px;
}

.jobTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(206, 89, 55, 0);
    padding: 20px;
    border-radius: 10px;
}

.status {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: #fff;
    font-family: 'Spartan';
}

.icons {
    padding-bottom: 10px;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.btn {
    color: background: #CE5937;
    background: -moz-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: -webkit-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: linear-gradient(135deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    color: #e0dfdc;
    margin: 3px;
    transition: transform .1s
}

.btn:hover {
    transform: scale(1.1);
}

.top:hover {
    border-left: 6px solid #E2304D;
}


/* end of job container */