* {
    box-sizing: border-box;
}

#bcgAdmin {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/images/admin.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1500px;
}


/* NAV BAR STARTS */

#navbarAdmin {
    width: 100%;
    overflow: auto;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
}

#navbarAdmin a {
    color: #fff;
    border-radius: 8px;
    background-color: background: #CE5937;
    background: -moz-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: -webkit-linear-gradient(-45deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    background: linear-gradient(135deg, #CE5937 0%, #E52B50 50%, #C59237 100%);
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    transition: transform .2s;
}


/* Add a background color on mouse-over */

.navbar a:hover {
    transform: scale(1.1)
}

#admin-title {
    margin-top: 100px;
    color: #fff;
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */

@media screen and (max-width: 500px) {
    #navbarAdmin a {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        /* If you want the text to be left-aligned on small screens */
    }
    #bcgAdmin {
        max-height: 630px;
    }
    #admin-txt {
        max-width: 375px;
    }
    #admin-container {}
}


/* END OF NAVBAR */


/* admin card */

.btn-secondary {
    background: #ce5937;
    background: -moz-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: -webkit-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: linear-gradient(135deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    color: #e0dfdc;
    margin-top: 10px;
    transition: transform 0.1s;
    border: 1px solid #e2304d;
    margin: 5px 10px 5px 10px;
}

.btn-secondary:hover {
    transform: scale(1.1);
    border: 1px solid #e2304d;
}

#admin-container {
    margin-top: 200px;
}

#admin-card {
    background-color: #515151;
    color: #FFF;
    border: 4px solid #e2304d;
    margin-left: 40px;
}

#adminJob-title {
    border-bottom: 1px solid #fff;
}

.text-muted {
    border-top: 1px solid #fff;
}

::placeholder {
    text-align: center;
}

#admin-skill {}

#admin-jobDescription {
    text-align: left;
}

#scheduleBtn {}

#admin-col {
    margin: 0 auto;
}

#admin-txt {
    margin-top: 10px;
    margin-left: -70px;
    border: 4px solid #dc4749;
    -webkit-box-shadow: 5px 5px 7px 5px #000000;
    box-shadow: 5px 5px 7px 5px #000000;
    border-radius: 10px;
}


/* end of admin card */