* {
    box-sizing: border-box;
}

#bcgJobs {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    max-width: 100%;
    overflow: auto;
    font-family: "Coda Caption", sans-serif;
    font-family: "Nanum Gothic", sans-serif;
}

.navbar a {
    color: #fff;
    border-radius: 8px;
    background-color: #ce5937;
    background: -moz-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: -webkit-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: linear-gradient(135deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    transition: transform 0.2s;
}


/* Add a background color on mouse-over */

.navbar a:hover {
    transform: scale(1.1);
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        /* If you want the text to be left-aligned on small screens */
    }
}


/* end of navbar */


/* container for search */

#search-container {
    margin-top: 150px;
    color: #fff;
    border: 1px solid black;
    text-align: center;
}

.display-4 {
    font-family: "Coda Caption", sans-serif;
}

#search-Div {
    margin-top: 60px;
    font-family: "Coda Caption", sans-serif;
    font-family: "Nanum Gothic", sans-serif;
}

.form-jobtitle {
    width: 300px;
    margin: 0 auto;
    border: 2px solid #e2304d;
}

#search-form {
    margin-top: 20px;
}

.form-jobsearch {
    margin: 0 auto;
    border: 2px solid #e2304d;
    width: 300px;
}

#serach-button {
    margin-bottom: 30px;
    background: #ce5937;
    background: -moz-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: -webkit-linear-gradient( -45deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    background: linear-gradient(135deg, #ce5937 0%, #e52b50 50%, #c59237 100%);
    color: #e0dfdc;
    margin-top: 10px;
    transition: transform 0.1s;
    border: 1px solid #e2304d;
}

#serach-button:hover {
    transform: scale(1.1);
    border: 1px solid #e2304d;
}


/* end of container for search */


/* jobs by skillset */

#skill-set {
    border: 5px solid black;
}


/* end of jobs by skillset*/